@model AdminHeaderVM
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">

        <div class="toggle-menu">
            <i class="zmdi zmdi-menu"></i>
        </div>
        @{string controller = @ViewContext.RouteData.Values["controller"].ToString();}
        @{string action = @ViewContext.RouteData.Values["action"].ToString();}
        @if ( controller == "Users" && action == "Index" || controller == "Subscribers" && action == "Index" || controller == "Users" && action == "DeletedUsers" )
        {
            <div class="search-bar flex-grow-1">
                <div class="input-group">
                    <div class="input-group-prepend search-arrow-back">
                        <button class="btn btn-search-back" type="button"><i class="zmdi zmdi-long-arrow-left"></i></button>
                    </div>
                    <input id="searchEverything" type="text" class="form-control" placeholder="Axtar...">
                </div>
            </div>
        }

        <ul class="navbar-nav align-items-center right-nav-link ml-auto">
            <li class="nav-item dropdown search-btn-mobile">
                <a class="nav-link position-relative" href="javascript:void();">
                    <i class="zmdi zmdi-search align-middle"></i>
                </a>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator")) 
            {
                <li class="nav-item dropdown dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-toggle="dropdown" href="javascript:void();">
                        <i class="zmdi zmdi-comment-outline align-middle"></i>
                        @if (@Model.Messages.Where(m => m.isDeleted == false && m.isRead == false).Count() != 0) 
                        {
                            <span class="bg-danger text-white badge-up">@Model.Messages.Where(m=>m.isDeleted == false && m.isRead == false).Count()</span>
                        }
                        
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Yeni Məktublar 
                            </li>
                            @if (Model.Messages.Count() == 0) 
                            {
                                <p class="ml-3">Məktub qutunuz boşdur</p>
                            }
                            @foreach (Contact contact in Model.Messages.Take(3).OrderByDescending(m => m.Id)) 
                            {
                                <li class="list-group-item">
                                    <a asp-action="Read" asp-area="Admin" asp-controller="Mail" asp-route-id="@contact.Id">
                                        <div class="media">
                                            @if (contact.isRead == false)
                                            {
                                                <div class="avatar"><i class="zmdi zmdi-email fa-2x mr-3 text-warning"></i></div>
                                            }
                                            else 
                                            {
                                                <div class="avatar"><i class="zmdi zmdi-email fa-2x mr-3"></i></div>
                                            }
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">@contact.Name</h6>
                                                <p class="msg-info">@contact.Subject</p>
                                                <small>@contact.SendingDate.ToString("g", CultureInfo.CreateSpecificCulture("es-ES"))</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                            <li class="list-group-item text-center"><a asp-action="Index" asp-controller="Mail" asp-area="Admin">Bütün məktubları gör</a></li>
                        </ul>
                    </div>
                </li>
            }
            
            <li class="nav-item dropdown dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-toggle="dropdown" href="javascript:void();">
                    <i class="zmdi zmdi-notifications-active align-middle"></i>
                    @if (Model.Events.Count() != 0) 
                    {
                        <span class="bg-info text-white badge-up">@Model.Events.Count()</span>
                    }
                    
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Bu günə olan tədbirləriniz
                        </li>
                        @if (Model.Events.Count() == 0) 
                        {
                            <p class="ml-3">Bu gün heç bir tədbiriniz yoxdur</p>
                        }
                        @foreach (Event e in Model.Events) 
                        {
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-danger"></i>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">@e.Subject</h6>
                                            <p class="msg-info">@e.Description</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                        
                        <li class="list-group-item text-center"><a asp-action="Index" asp-controller="Calendar" asp-area="Admin">Bütün kalendarı gör</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown language">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-toggle="dropdown" href="javascript:void();"><i class="flag-icon flag-icon-az align-middle"></i></a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-toggle="dropdown" href="javascript:void();">
                    <span class="user-profile"><img src="~/img/teacher/@Model.User.Image" class="img-circle" alt="user avatar"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item user-details">
                        <a href="/Account/MyAccount">
                            <div class="media">
                                <div class="avatar"><img class="align-self-start mr-3" src="~/img/teacher/@Model.User.Image" alt="user avatar"></div>
                                <div class="media-body">
                                    <h6 class="mt-2 user-title">@Model.User.Fullname</h6>
                                    <p class="user-subtitle">@Model.User.UserName</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><a asp-action="Index" asp-controller="Chat"><i class="zmdi zmdi-comments mr-3"></i>Mesajlar</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><a asp-action="Index" asp-controller="ChangePicture" asp-area="Admin"><i class="zmdi zmdi-balance-wallet mr-3"></i>Şəkil dəyiş</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><a href="/Account/Logout"><i class="zmdi zmdi-power mr-3"></i>Çıxış et</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>