@model CourseEditVM
<div class="text-danger d-flex justify-content-center" asp-validation-summary="ModelOnly"></div>
<form method="post">

    <div class="row mt-4 ">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header text-uppercase">Kursun adı</div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-spinner fa-spin"></i></i></span>
                        </div>
                        <input asp-for="@Model.Course.Name" class="form-control" placeholder="Ad">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header text-uppercase">Aid olduğu kateqoriya</div>
                <div class="card-body">
                    <div class="input-group">
                        <select style="width:50%;color:black" id="category" name="category">
                            <option value="@Model.Category.Id">@Model.Category.Name</option>
                            @foreach (Category category in Model.Categories)
                            {
                                if(category.Id != Model.Category.Id) 
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button id="save" class="btn btn-success waves-effect waves-light text-center">Dəyişikliyi yadda saxla</button>
    </div>
</form>

@section Scripts{
    <script>
            $('#category').select2();
    </script>
}
