@model IEnumerable<UserVM>

<div class="container-fluid">
    <div class="row pt-2 pb-2">
        <div class="col-sm-6">
            <h4 class="page-title">Bloklanmış istifadəçilər</h4>
        </div>
        <div class="col-sm-6">
            <div class="btn-group float-sm-right">
                <a asp-controller="Users" asp-action="Index" asp-area="Admin" class="btn btn-success waves-effect waves-light m-1">İstifadəçilər</a>
            </div>
        </div>
    </div>
</div>

@if (Model.Count() == 0)
{
    <h4>Bloklanmış istifadəçi yoxdur</h4>
}

else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adı (Soyadı)</th>
                    <th scope="col">İstifadəçi adı</th>
                    <th scope="col">Saytda rolu</th>
                    <th scope="col">Düzəliş et</th>
                </tr>
            </thead>
            <tbody>
                @{int count = 1; }
                @foreach (UserVM user in Model)
                {
                    if (User.Identity.Name != user.Username)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@user.Fullname</td>
                            <td>@user.Username</td>
                            <td>@user.userRole</td>
                            <td>
                                <a asp-action="EditUser" asp-controller="Users" asp-area="Admin" asp-route-id="@user.Id" class="btn btn-warning waves-effect waves-light m-1"><i class=" zmdi zmdi-edit"></i></a>
                                <a asp-action="ActivateUser" asp-controller="Users" asp-area="Admin" asp-route-id="@user.Id" class="btn btn-success waves-effect waves-light m-1 activate_user"><i class=" zmdi zmdi-check-all"></i></a>
                            </td>
                        </tr>
                        count++;
                    }
                }

            </tbody>
        </table>
    </div>
}



@section Scripts{
    <script>
        function trigger() {
            $(".activate_user").click()
        }
        $(".activate_user").click(function (e) {
            e.preventDefault();
            swal({
                title: "Əminsiniz?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete && $(this).val() != "1") {
                        swal("Geri qaytarıldı", {
                            icon: "success",
                        });
                        location.href = $(this).attr('href')
                    } else {
                        swal("Geri qaytarıla bilmədi");
                    }
                });
        })
    </script>

}
