@model ChatVM

@section Styles{
    <link href="~/admin/asset/chat.css" rel="stylesheet" />

 }

<div id="chat">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="view-wrapper">
                    <div class="left-side-wrapper">
                        <div class="box-heading">
                            <div class="chat_wrapper">
                                <h2>Mesaj</h2>
                                <div class="icon-wrapper" data-toggle="modal" data-target="#chat-modal">
                                    <i class="zmdi zmdi-plus-circle-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="chat_wrapper">
                                <ul style="padding-left:0!important" class="chat-list">
                                    @foreach (ChatUser item in Model.CurrentChats)
                                    {
                                        <li class="chat-list-item">
                                            <a asp-controller="Chat" asp-action="Message" asp-route-id="@item.ChatId">
                                                <div class="chat-card-wrapper">
                                                    <div class="avatar-wrapper">
                                                        <img src="~/img/teacher/@item.User.Image" alt="Profile Picture">
                                                    </div>
                                                    <div class="profile-meta">
                                                        <h4 class="username">@item.User.UserName</h4>
                                                        <p>@item.User.Fullname</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right-side-wrapper">
                         <div class="welcoming-card">
                            <div class="chat_wrapper">
                                <i style="color:black" class="fa fa-envelope-o"></i>
                                <h2>Your Messages</h2>
                                <p>Choose or create a new chat to communicate with your friends.</p>
                            </div>
                        </div> 
                        @*<div class="box-heading">
                            <div class="chat_wrapper">
                                <a href="#" class="avatar-wrapper">
                                    <img src="img/profile-placeholder.png" alt="Profile Picture">
                                </a>
                                <div class="current-chat-info">
                                    <a href="#" class="username">_farid__aliyev_</a>
                                </div>
                            </div>
                        </div>

                        <div class="box-content">
                            <div class="messages-wrapper">
                                <ul class="messages-list">
                                    <li class="message-item">
                                        <div class="message-sender">
                                            <h4 class="username">_farid__aliyev_</h4>
                                        </div>
                                        <div class="message-body">
                                            <span class="message-time">8:03am</span>
                                            <div class="message-text">
                                                Lorem ipsum dolor sit amet.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="message-item is-sent">
                                        <div class="message-sender">
                                            <h4 class="username">_farid__aliyev_</h4>
                                        </div>
                                        <div class="message-body">
                                            <span class="message-time">8:03am</span>
                                            <div class="message-text">
                                                Lorem ipsum dolor sit amet.
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="box-footer">
                                <div class="chat-action">
                                    <div class="control">
                                        <textarea id="chat-input" rows="1" placeholder="Message..."></textarea>
                                    </div>
                                    <div class="message-send-button-wrapper">
                                        <button type="button">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni söhbət</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body text-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <select class="js-example-basic-single" name="friend" style="width: 100%">
                                        @foreach (User user in Model.Users)
                                        {
                                            <option value="@user.Id">@user.UserName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('.js-example-basic-single').select2();
        $('#chat-input').keyup(function () {
            if ($(this).val() == "") {
                $('.message-send-button-wrapper').hide();
            }
            else {
                $('.message-send-button-wrapper').show();
            }
        });
    </script>

 }